<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true">
        <template slot="title">
          <div :style="{ color: $store.state.app.color }">
            <a-icon type="plus-circle" />
            <span> {{ $t('table.create_table') }}</span>
          </div>
        </template>
        <template slot="extra">
          <router-link
            :to="{ name: 'list-table'}"
          >
            <a-button
              type="primary"
            >
              <a-icon type="unordered-list" />{{ $t('show_list') }}
            </a-button>
          </router-link>
        </template>
        <a-form
          style="margin-top: 30px"
          @submit="submit"
        >
          <ValidationObserver v-slot="{ invalid }">
            <ValidationProvider name="code" rules="required|max:20" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('table.code')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.code) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.code"
              >
                <a-input
                  v-model="formData.code"
                />
              </a-form-item>
            </ValidationProvider>

            <ValidationProvider name="name" rules="required|max:20" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('table.name')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.name"
              >
                <a-input
                  v-model="formData.name"
                />
              </a-form-item>
            </ValidationProvider>

            <ValidationProvider name="buy_at" rules="required" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('table.buy_at')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.buy_at) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.buy_at"
              >
                <a-date-picker
                  v-model="formData.buy_at"
                  :show-time="false"
                  format="YYYY-MM-DD"
                />
              </a-form-item>
            </ValidationProvider>
            <a-form-item
              :label="$t('description')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
            >
              <a-textarea v-model="formData.description" :rows="5" />
            </a-form-item>
            <a-form-item
              :wrapperCol="{ span: 24 }"
              style="margin-top: 30px; text-align: center"
            >
              <a-button
                type="primary"
                htmlType="submit"
                :loading="loading"
                :disabled="invalid"
              >
                <a-icon v-if="loading" type="loading" />
                <a-icon v-else type="check" />
                {{ $t('create') }}
              </a-button>
            </a-form-item>
          </ValidationObserver>
        </a-form>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
  name: 'List',
  data () {
    return {
      loading: false,
      responseErrors: [],
      formData: {
        name: '',
        code: '',
        buy_at: '',
        description: ''
      }
    }
  },
  computed: {
    ...mapState('table', ['items', 'total'])
  },
  methods: {
    ...mapActions({
      createTable: 'table/create'
    }),
    async submit (e) {
      e.preventDefault()
      try {
        this.loading = true
        const response = await this.createTable(this.getInsertData())
        this.loading = false
        this.$toastr.success(response.message)
        this.$router.push({ name: 'list-table' })
      } catch (e) {
        if (e.status === 422) {
          this.responseErrors = e.data.errors
          this.$toastr.error(e.data.message)
        }
        this.loading = false
      }
    },
    getInsertData () {
      if (this.formData.buy_at) {
        this.formData.buy_at = this.$moment(this.formData.buy_at).format('YYYY-MM-DD')
      }

      return this.formData
    }
  },
  created () {
  }
}
</script>

<style lang="less" scoped>

</style>
