<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true" :loading="false" class="search">
        <template slot="title">
          <div :style="{ color: $store.state.app.color }">
            <a-icon type="search" />
            <span> {{ $t('table.search_table') }}</span>
          </div>
        </template>

        <div>
          <a-form
            @submit="search"
          >
            <ValidationObserver v-slot="{ invalid }">
              <a-row :gutter="20">
                <a-col :lg="12">
                  <ValidationProvider name="code" rules="max:30" v-slot="{ errors, failed }">
                    <a-form-item
                      :validate-status="failed ? 'error' : 'success'"
                      :help="errors[0]"
                      :label="$t('table.code')"
                      :labelCol="{xl: {span: 7}, lg: {span: 24}, md: {span: 24}}"
                      :wrapperCol="{xl: {span: 17}, lg: {span: 24}, md: {span: 24} }">
                      <a-input
                        v-model="queryData.code"
                      />
                    </a-form-item>
                  </ValidationProvider>

                  <ValidationProvider name="name" rules="max:30" v-slot="{ errors, failed }">
                    <a-form-item
                      :validate-status="failed ? 'error' : 'success'"
                      :help="errors[0]"
                      :label="$t('table.name')"
                      :labelCol="{xl: {span: 7}, lg: {span: 24}, md: {span: 24}}"
                      :wrapperCol="{xl: {span: 17}, lg: {span: 24}, md: {span: 24} }">
                      <a-input
                        v-model="queryData.name"
                      />
                    </a-form-item>
                  </ValidationProvider>
                </a-col>
                <a-col :lg="12">
                  <a-form-item
                    :label="$t('table.buy_at')"
                    :labelCol="{xl: {span: 7}, lg: {span: 24}, md: {span: 24}}"
                    :wrapperCol="{xl: {span: 17}, lg: {span: 24}, md: {span: 24} }"
                  >
                    <a-date-picker
                      style="margin-right: 5px"
                      v-model="queryData.buy_at_from"
                      :show-time="false"
                      format="YYYY-MM-DD"
                      :placeholder="$t('start_time')"
                      @openChange="handleStartOpenChange"
                    />
                    ~
                    <a-date-picker
                      style="margin-left: 5px"
                      v-model="queryData.buy_at_to"
                      :show-time="false"
                      format="YYYY-MM-DD"
                      :placeholder="$t('end_time')"
                      :open="endOpen"
                      @openChange="handleEndOpenChange"
                    />
                  </a-form-item>
                </a-col>
              </a-row>
              <a-row>
                <a-col :span="24" style="text-align: center">
                  <a-form-item>
                    <a-button
                      style="margin-right: 8px"
                      type="primary"
                      :disabled="invalid"
                      htmlType="submit"
                    >
                      <a-icon type="search" />{{ $t('search') }}
                    </a-button>
                    <a-button @click="clear">
                      <a-icon type="close" />{{ $t('clear') }}</a-button>
                  </a-form-item>
                </a-col>
              </a-row>
            </ValidationObserver>
          </a-form>
        </div>

      </a-card>
      <a-card :bordered="true" :loading="false">
        <template slot="title">
          <div :style="{color: $store.state.app.color }">
            <a-icon type="unordered-list" />
            <span> {{ $t('menu.table.list') }}</span>
          </div>
        </template>
        <template slot="extra">
          <router-link
            :to="{ name: 'create-table'}"
          >
            <a-button
              type="primary"
            >
              <a-icon type="plus-circle" />{{ $t('create_new') }}
            </a-button>
          </router-link>
        </template>
        <a-table
          bordered
          :columns="columns"
          :row-key="record => record.id"
          :data-source="items"
          :pagination="pagination"
          :loading="loading"
          @change="handleTableChange"
        >
          <template v-for="column in columns" :slot="column.slots.title">
            {{ $t(column.headerTitle) }}
          </template>

          <template slot="status" slot-scope="rowData">
            <span v-if="rowData.status == 1" class="status status_used">
              {{ $t('table.status_used') }}
            </span>
            <span v-else class="status status_broken">
              {{ $t('table.status_broken') }}
            </span>
          </template>
          <template slot="buy_at" slot-scope="rowData">
            <div>
              {{ $moment(rowData.buy_at).format('YYYY-MM-DD HH:mm:ss') }}
            </div>
            <div>
              {{ $moment(rowData.buy_at).fromNow() }}
            </div>
          </template>
          <template slot="created_at" slot-scope="rowData">
            <div>
              {{ $moment(rowData.created_at).format('YYYY-MM-DD HH:mm:ss') }}
            </div>
            <div>
              {{ $moment(rowData.created_at).fromNow() }}
            </div>
          </template>
          <template slot="updated_at" slot-scope="rowData">
            {{ $moment(rowData.updated_at).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </a-table>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
  name: 'List',
  data () {
    return {
      pagination: {},
      endOpen: false,
      queryData: {
        per_page: 20,
        code: '',
        name: '',
        buy_at_from: '',
        buy_at_to: ''
      },
      loading: false,
      columns: [
        {
          headerTitle: 'index',
          slots: { title: 'index' },
          dataIndex: 'index',
          width: '5%'
        },
        {
          headerTitle: 'table.code',
          slots: { title: 'code' },
          dataIndex: 'code',
          sorter: true,
          width: '10%'
        },
        {
          headerTitle: 'table.name',
          slots: { title: 'name' },
          dataIndex: 'name',
          sorter: true,
          key: 'name',
          width: '10%'
        },
        {
          headerTitle: 'status',
          slots: { title: 'status' },
          sorter: true,
          width: '10%',
          key: 'status',
          scopedSlots: { customRender: 'status' }
        },
        {
          headerTitle: 'table.buy_at',
          slots: { title: 'buy_at' },
          sorter: true,
          width: '15%',
          key: 'buy_at',
          scopedSlots: { customRender: 'buy_at' }
        },
        {
          headerTitle: 'created_at',
          slots: { title: 'created_at' },
          sorter: true,
          width: '15%',
          key: 'created_at',
          scopedSlots: { customRender: 'created_at' }
        },
        {
          headerTitle: 'updated_at',
          slots: { title: 'updated_at' },
          sorter: true,
          width: '15%',
          key: 'updated_at',
          scopedSlots: { customRender: 'updated_at' }
        },
        {
          headerTitle: 'action',
          slots: { title: 'action' },
          width: '20%'
        }
      ]
    }
  },
  computed: {
    ...mapState('table', ['items', 'total'])
  },
  methods: {
    ...mapActions({
      list: 'table/list'
    }),
    handleTableChange (pagination, filters, sorter) {
      let params = {
        per_page: pagination.pageSize,
        page: pagination.current
      }
      if (sorter.columnKey) {
        params.sort_column = sorter.columnKey
      }
      if (sorter.order) {
        params.sort_direction = sorter.order === 'ascend' ? 'asc' : 'desc'
      }
      params = Object.assign(params, this.queryData)
      this.fetch(params)
    },
    async fetch (params) {
      this.loading = true
      await this.list(this.updateParams(params))
      this.pagination = {
        pageSize: params.per_page,
        total: this.total
      }
      this.loading = false
    },
    updateParams (params) {
      params = this.$helper.filterObject(params)
      if (params.buy_at_from) {
        params.buy_at_from = this.$moment(params.buy_at_from).format('YYYY-MM-DD')
      }

      if (params.buy_at_to) {
        params.buy_at_to = this.$moment(params.buy_at_to).format('YYYY-MM-DD')
      }

      return params
    },
    search (e) {
      e.preventDefault()
      this.fetch(this.queryData)
    },
    clear () {
      this.queryData = {}
    },
    handleStartOpenChange (isOpen) {
      this.endOpen = !isOpen
    },
    handleEndOpenChange (isOpen) {
      this.endOpen = isOpen
    }
  },
  created () {
    this.fetch({ per_page: this.queryData.per_page })
  }
}
</script>

<style lang="less" scoped>
  .status {
    color: white;
    padding: 4px 6px;
  }
  .status_used {
    background: #13c2c2;
  }
  .status_broken {
    background: red;
  }
</style>
