<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true" :loading="false">
        <template slot="title">
          <div :style="{color: $store.state.app.color }">
            <a-icon type="clock-circle" />
            <span> {{ $t('menu.table.status') }}</span>
          </div>
        </template>
        <div style="margin-bottom: 50px">
          <a-card>
            <a-card-grid style="width:33.3333333333%;text-align:center">
              <a-statistic :title="$t('total')" :value="statisticData.total">
              </a-statistic>
            </a-card-grid>
            <a-card-grid style="width:33.3333333333%;text-align:center">
              <a-statistic :title="$t('total_of_using')" :value="statisticData.total_of_using">
              </a-statistic>
            </a-card-grid>
            <a-card-grid style="width:33.333333333%;text-align:center">
              <a-statistic :title="$t('total_of_not_using')" :value="statisticData.total_of_not_using">
              </a-statistic>
            </a-card-grid>
          </a-card>
        </div>
        <a-row :gutter="20">
          <table-status
            v-for="(tableStatus, index) in statusItems"
            :tableStatus="tableStatus"
            :index="index"
            :key="index"
          ></table-status>
        </a-row>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import TableStatus from '@/components/TableStatus'

export default {
  name: 'Status',
  components: {
    TableStatus
  },
  data () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState('table', ['statusItems', 'item', 'statisticData'])
  },
  methods: {
    ...mapActions({
      list: 'table/status',
      statistic: 'table/statistic'
    }),
    async fetch () {
      this.loading = true
      await this.list()
      this.loading = false
    }
  },
  created () {
    const now = this.$moment('2021-12-12 00:10:00')
    const time = this.$moment('2021-12-12 00:00:00')
    console.log(now.diff(time, 'seconds'))
    this.fetch()
    this.statistic()
  }
}
</script>

<style lang="less" scoped>
</style>
