<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true">
        <template slot="title">
          <div :style="{ color: $store.state.app.color }">
            <a-icon type="plus-circle" />
            <span> {{ $t('product.create_product') }}</span>
          </div>
        </template>
        <template slot="extra">
          <router-link
            :to="{ name: 'list-product-unit'}"
          >
            <a-button
              type="primary"
            >
              <a-icon type="unordered-list" />{{ $t('show_list') }}
            </a-button>
          </router-link>
        </template>
        <a-form
          style="margin-top: 30px"
          @submit="submit"
        >
          <ValidationObserver v-slot="{ invalid }">
            <ValidationProvider name="select_product" rules="required" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('product.select')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.name"
              >
                <a-select
                  v-model="formData.product_id"
                  show-search
                  :placeholder="$t('product.select')"
                  option-filter-prop="children"
                >
                  <a-select-option v-for="(product, index) in selectProducts" :value="product.id" :key="index">
                    {{ product.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </ValidationProvider>

            <ValidationProvider name="unit" rules="required" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('product.unit')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.unit) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.unit"
              >
                <a-select
                  v-model="formData.unit"
                  show-search
                  :placeholder="$t('unit')"
                  option-filter-prop="children"
                >
                  <a-select-option v-for="(unit, index) in units" :value="unit.id" :key="index">
                    {{ unit.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </ValidationProvider>
            <ValidationProvider name="price" rules="required|integer|min_value:500|max_value:1000000" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('price')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.unit) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.price"
              >
                <a-input
                  v-model="formData.price"
                />
              </a-form-item>
            </ValidationProvider>
            <a-form-item
              :wrapperCol="{ span: 24 }"
              style="margin-top: 30px; text-align: center"
            >
              <a-button
                type="primary"
                htmlType="submit"
                :loading="loading"
                :disabled="invalid"
              >
                <a-icon v-if="loading" type="loading" />
                <a-icon v-else type="check" />
                {{ $t('create') }}
              </a-button>
            </a-form-item>
          </ValidationObserver>
        </a-form>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
  name: 'List',
  data () {
    return {
      loading: false,
      responseErrors: [],
      formData: {
        product_id: '',
        unit: '',
        price: ''
      }
    }
  },
  computed: {
    ...mapState('commonApi', ['selectProducts', 'units'])
  },
  methods: {
    ...mapActions({
      createProductUnit: 'productUnit/create',
      getSelectProducts: 'commonApi/getSelectProducts',
      getUnits: 'commonApi/getUnits'
    }),
    async submit (e) {
      e.preventDefault()
      try {
        this.loading = true
        const response = await this.createProductUnit(this.getInsertData())
        this.loading = false
        this.$toastr.success(response.message)
        this.$router.push({ name: 'list-product-unit' })
      } catch (e) {
        if (e.status === 422) {
          this.responseErrors = e.data.errors
        } else if (e.status === 403) {
          this.$toastr.error(e.data.message)
        }
        this.loading = false
      }
    },
    getInsertData () {
      return this.formData
    }
  },
  created () {
    this.getSelectProducts()
    this.getUnits()
  }
}
</script>

<style lang="less" scoped>

</style>
