<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true" :loading="false" class="search">
        <template slot="title">
          <div :style="{ color: $store.state.app.color }">
            <a-icon type="search" />
            <span> {{ $t('product_unit.search_product_unit') }}</span>
          </div>
        </template>

        <div>
          <a-form
            @submit="search"
          >
            <ValidationObserver v-slot="{ invalid }">
              <a-row :gutter="20">
                <a-col :lg="12">
                  <ValidationProvider name="name" rules="max:30" v-slot="{ errors, failed }">
                    <a-form-item
                      :validate-status="failed ? 'error' : 'success'"
                      :help="errors[0]"
                      :label="$t('product.name')"
                      :labelCol="{xl: {span: 7}, lg: {span: 24}, md: {span: 24}}"
                      :wrapperCol="{xl: {span: 17}, lg: {span: 24}, md: {span: 24} }">
                      <a-input
                        v-model="queryData.name"
                      />
                    </a-form-item>
                  </ValidationProvider>
                  <ValidationProvider name="price" rules="integer|max_value:1000000" v-slot="{ errors, failed }">
                    <a-form-item
                      :validate-status="failed ? 'error' : 'success'"
                      :help="errors[0]"
                      :label="$t('price')"
                      :labelCol="{xl: {span: 7}, lg: {span: 24}, md: {span: 24}}"
                      :wrapperCol="{xl: {span: 17}, lg: {span: 24}, md: {span: 24} }">
                      <a-input
                        v-model="queryData.price"
                      />
                    </a-form-item>
                  </ValidationProvider>
                </a-col>
                <a-col :lg="12">
                  <a-form-item
                    :label="$t('unit')"
                    :labelCol="{xl: {span: 7}, lg: {span: 24}, md: {span: 24}}"
                    :wrapperCol="{xl: {span: 17}, lg: {span: 24}, md: {span: 24} }"
                  >
                    <a-select
                      v-model="queryData.unit"
                      show-search
                      :placeholder="$t('unit')"
                      option-filter-prop="children"
                    >
                      <a-select-option v-for="(unit, index) in units" :value="unit.id" :key="index">
                        {{ unit.name }}
                      </a-select-option>
                    </a-select>
                  </a-form-item>
                </a-col>
              </a-row>
              <a-row>
                <a-col :span="24" style="text-align: center">
                  <a-form-item>
                    <a-button
                      style="margin-right: 8px"
                      type="primary"
                      :disabled="invalid"
                      htmlType="submit"
                    >
                      <a-icon type="search" />{{ $t('search') }}
                    </a-button>
                    <a-button @click="clear">
                      <a-icon type="close" />{{ $t('clear') }}</a-button>
                  </a-form-item>
                </a-col>
              </a-row>
            </ValidationObserver>
          </a-form>
        </div>

      </a-card>
      <a-card :bordered="true" :loading="false">
        <template slot="title">
          <div :style="{color: $store.state.app.color }">
            <a-icon type="unordered-list" />
            <span> {{ $t('menu.product_unit.list') }}</span>
          </div>
        </template>
        <template slot="extra">
          <router-link
            :to="{ name: 'create-product-unit'}"
          >
            <a-button
              type="primary"
            >
              <a-icon type="plus-circle" />{{ $t('create_new') }}
            </a-button>
          </router-link>
        </template>
        <a-table
          bordered
          :columns="columns"
          :row-key="record => record.id"
          :data-source="items"
          :pagination="pagination"
          :loading="loading"
          @change="handleTableChange"
        >
          <template v-for="column in columns" :slot="column.slots.title">
            {{ $t(column.headerTitle) }}
          </template>

          <template slot="unit" slot-scope="rowData">
            <span v-if="rowData == 1">
              {{ $t('product_unit.can') }}
            </span>
            <span v-else-if="rowData == 2">
              {{ $t('product_unit.bottle') }}
            </span>
            <span v-else-if="rowData == 3">
              {{ $t('product_unit.box') }}
            </span>
            <span v-else-if="rowData == 4">
              {{ $t('product_unit.glass') }}
            </span>
            <span v-else-if="rowData == 5">
              {{ $t('product_unit.stick') }}
            </span>
            <span v-else>
              {{ $t('product_unit.package') }}
            </span>
          </template>
          <template slot="price" slot-scope="rowData">
            {{ rowData | NumberFormat }} Vnđ
          </template>
          <template slot="buy_at" slot-scope="rowData">
            <div>
              {{ $moment(rowData.buy_at).format('YYYY-MM-DD HH:mm:ss') }}
            </div>
            <div>
              {{ $moment(rowData.buy_at).fromNow() }}
            </div>
          </template>
          <template slot="created_at" slot-scope="rowData">
            <div>
              {{ $moment(rowData.created_at).format('YYYY-MM-DD HH:mm:ss') }}
            </div>
            <div>
              {{ $moment(rowData.created_at).fromNow() }}
            </div>
          </template>
          <template slot="updated_at" slot-scope="rowData">
            {{ $moment(rowData.updated_at).format('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </a-table>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
  name: 'List',
  data () {
    return {
      pagination: {},
      queryData: {
        per_page: 20,
        name: '',
        unit: '',
        price: ''
      },
      loading: false,
      columns: [
        {
          headerTitle: 'index',
          slots: { title: 'index' },
          dataIndex: 'index',
          width: '5%'
        },
        {
          headerTitle: 'product.name',
          slots: { title: 'name' },
          dataIndex: 'name',
          sorter: true,
          width: '15%'
        },
        {
          headerTitle: 'unit',
          slots: { title: 'unit' },
          dataIndex: 'unit',
          sorter: true,
          width: '15%',
          scopedSlots: { customRender: 'unit' }
        },
        {
          headerTitle: 'price',
          slots: { title: 'price' },
          dataIndex: 'price',
          sorter: true,
          width: '15%',
          scopedSlots: { customRender: 'price' }
        },
        {
          headerTitle: 'created_at',
          slots: { title: 'created_at' },
          sorter: true,
          width: '15%',
          key: 'created_at',
          scopedSlots: { customRender: 'created_at' }
        },
        {
          headerTitle: 'updated_at',
          slots: { title: 'updated_at' },
          sorter: true,
          width: '15%',
          key: 'updated_at',
          scopedSlots: { customRender: 'updated_at' }
        },
        {
          headerTitle: 'action',
          slots: { title: 'action' },
          width: '20%'
        }
      ]
    }
  },
  computed: {
    ...mapState('productUnit', ['items', 'total']),
    ...mapState('commonApi', ['selectProducts', 'units'])
  },
  methods: {
    ...mapActions({
      list: 'productUnit/list',
      getSelectProducts: 'commonApi/getSelectProducts',
      getUnits: 'commonApi/getUnits'
    }),
    handleTableChange (pagination, filters, sorter) {
      let params = {
        per_page: pagination.pageSize,
        page: pagination.current
      }
      if (sorter.columnKey) {
        params.sort_column = sorter.columnKey
      }
      if (sorter.order) {
        params.sort_direction = sorter.order === 'ascend' ? 'asc' : 'desc'
      }
      params = Object.assign(params, this.queryData)
      this.fetch(params)
    },
    async fetch (params) {
      this.loading = true
      await this.list(this.updateParams(params))
      this.pagination = {
        pageSize: params.per_page,
        total: this.total
      }
      this.loading = false
    },
    updateParams (params) {
      params = this.$helper.filterObject(params)
      return params
    },
    search (e) {
      e.preventDefault()
      this.fetch(this.queryData)
    },
    clear () {
      this.queryData = {}
    }
  },
  created () {
    this.fetch({ per_page: this.queryData.per_page })
    this.getSelectProducts()
    this.getUnits()
  }
}
</script>

<style lang="less" scoped>
  .status {
    color: white;
    padding: 4px 6px;
  }
  .status_used {
    background: #13c2c2;
  }
  .status_broken {
    background: red;
  }
</style>
