<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true">
        <template slot="title">
          <div :style="{ color: $store.state.app.color }">
            <a-icon type="edit" />
            <span> {{ $t('product.edit_product') }}</span>
          </div>
        </template>
        <template slot="extra">
          <router-link
            :to="{ name: 'list-product'}"
          >
            <a-button
              type="primary"
            >
              <a-icon type="unordered-list" />{{ $t('show_list') }}
            </a-button>
          </router-link>
        </template>
        <a-form
          style="margin-top: 30px"
          @submit="submit"
        >
          <ValidationObserver v-slot="{ invalid }">
            <ValidationProvider name="name" rules="required|max:50" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('product.name')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.name"
              >
                <a-input
                  v-model="formData.name"
                />
              </a-form-item>
            </ValidationProvider>

            <a-form-item
              has-feedback
              :label="$t('price_unit')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
            >
              <product-unit
                v-for="(productUnit, index) in formData.product_units"
                :disableRemove="formData.product_units.length === 1"
                :value="productUnit"
                :key="index"
                :index="index"
                :units="units"
                @addProductUnit="addProductUnit()"
                @removeProductUnit="removeProductUnit"
                @checkDuplicatedUnit="checkDuplicatedUnit"
              ></product-unit>
            </a-form-item>
            <a-form-item
              :label="$t('description')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
            >
              <a-textarea v-model="formData.description" :rows="5" />
            </a-form-item>
            <a-form-item
              :wrapperCol="{ span: 24 }"
              style="margin-top: 30px; text-align: center"
            >
              <a-button
                type="primary"
                htmlType="submit"
                :loading="loading"
                :disabled="invalid || isDuplicatedUnit"
              >
                <a-icon v-if="loading" type="loading" />
                <a-icon v-else type="check" />
                {{ $t('edit') }}
              </a-button>
            </a-form-item>
          </ValidationObserver>
        </a-form>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import _ from 'lodash'
import ProductUnit from './../../components/ProductUnit'

export default {
  name: 'List',
  components: {
    ProductUnit
  },
  data () {
    return {
      loading: false,
      responseErrors: [],
      isDuplicatedUnit: false,
      formData: {
        name: '',
        description: '',
        product_units: [
          {
            unit: undefined,
            price: ''
          }
        ]
      }
    }
  },
  computed: {
    ...mapState('commonApi', ['units'])
  },
  methods: {
    ...mapActions({
      updateProduct: 'product/update',
      getUnits: 'commonApi/getUnits',
      showProduct: 'product/show'
    }),
    async submit (e) {
      e.preventDefault()
      try {
        this.loading = true
        const response = await this.updateProduct({ id: this.$route.params.id, data: this.formData })
        this.loading = false
        this.$toastr.success(response.message)
        this.$router.push({ name: 'list-product' })
      } catch (e) {
        if (e.status === 422) {
          this.responseErrors = e.data.errors
          this.$toastr.error(e.data.message)
        }
        this.loading = false
      }
    },
    addProductUnit () {
      this.formData.product_units.push({ id: null, unit: undefined, price: '' })
    },
    removeProductUnit (index) {
      this.formData.product_units = _.filter(this.formData.product_units, function (value, key) { return index !== key })
    },
    checkDuplicatedUnit () {
      const productUnits = _.filter(this.formData.product_units, function (value) { return value.unit !== undefined })
      const units = productUnits.map(item => item.unit)
      const notDuplicatedUnits = this.$helper.removeDuplicate(units)

      if (units.length !== notDuplicatedUnits.length) {
        this.isDuplicatedUnit = true
        this.$toastr.warning(this.$t('duplicated_unit_error'))
      } else {
        this.isDuplicatedUnit = false
      }
    },
    async getProduct (id) {
      const product = await this.showProduct(id)
      this.formData.name = product.name
      this.formData.product_units = product.product_units
      this.formData.description = product.description
    }
  },
  async created () {
    await this.getProduct(this.$route.params.id)
    await this.getUnits()
  }
}
</script>

<style lang="less" scoped>
</style>
