<template>
  <a-modal
    :footer="null"
    :width="1000"
    :visible="visible"
    @cancel="$emit('cancle')"
  >
    <template slot="title">
      <div :style="{color: $store.state.app.color }">
        <a-icon type="edit" />
        <span> {{ $t('order.update_order') }}</span>
      </div>
    </template>
    <div>
      <a-form-item
        :label="$t('table.name')"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      >
        {{ tableStatus.name }}
      </a-form-item>
      <a-form
        @submit="submit"
      >
        <ValidationObserver v-slot="{ invalid }">
          <ValidationProvider name="start_time" rules="required|lessOrEqualNow" v-slot="{ errors, failed, dirty }">
            <a-form-item
              :has-feedback="dirty"
              :label="$t('start_time')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
              :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
              :help="errors[0] || responseErrors.name"
            >
              <a-date-picker
                v-model="formData.start_time"
                :show-time="true"
                format="YYYY-MM-DD HH:mm"
                :placeholder="$t('start_time')"
              />
            </a-form-item>
          </ValidationProvider>
          <a-form-item
            has-feedback
            :label="$t('product.product')"
            :labelCol="{lg: {span: 7}, sm: {span: 7}}"
            :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
          >
            <product-order
              v-for="(orderProduct, index) in formData.order_products"
              :disableRemove="formData.order_products.length === 1"
              :value="orderProduct"
              :key="index"
              :index="index"
              :productUnits="productUnits"
              @addItem="addOrderProduct()"
              @removeItem="removeOrderProduct"
              @checkDuplicatedProduct="checkDuplicatedProduct"
              @checkNotMatchProductNumber="checkNotMatchProductNumber"
            ></product-order>
          </a-form-item>
          <a-form-item
            :label="$t('note')"
            :labelCol="{lg: {span: 7}, sm: {span: 7}}"
            :wrapperCol="{lg: {span: 16}, sm: {span: 17} }"
          >
            <a-textarea v-model="formData.note" :rows="5" />
          </a-form-item>
          <a-form-item
            :wrapperCol="{ span: 24 }"
            style="margin-top: 30px; text-align: center"
          >
            <a-button
              type="primary"
              htmlType="submit"
              :loading="loading"
              :disabled="invalid || isDuplicatedProduct || inputInvalidProduct"
            >
              <a-icon v-if="loading" type="loading" />
              <a-icon v-else type="check" />
              {{ $t('update') }}
            </a-button>
          </a-form-item>
        </ValidationObserver>
      </a-form>
    </div>
  </a-modal>
</template>

<script>
import ProductOrder from './ProductOrder'
import { mapActions, mapState } from 'vuex'
import _ from 'lodash'

export default {
  name: 'EditOrder',
  components: {
    ProductOrder
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    tableStatus: {
      type: Object
    }
  },
  data () {
    return {
      loading: false,
      isDuplicatedProduct: false,
      inputInvalidProduct: false,
      formData: {
        note: '',
        start_time: this.$moment(),
        table_id: null,
        order_products: [
          {
            product_unit_id: undefined,
            number: undefined
          }
        ]
      },
      responseErrors: {}
    }
  },
  computed: {
    ...mapState('commonApi', ['productUnits']),
    ...mapState('order', ['item'])
  },
  methods: {
    ...mapActions({
      getSelectProductUnits: 'commonApi/getSelectProductUnits',
      updateOrder: 'order/update',
      showOrder: 'order/show'
    }),
    getUpdateData () {
      this.formData.start_time = this.$moment(this.formData.start_time).format('YYYY-MM-DD HH:mm')
      const orderProducts = _.filter(this.formData.order_products, function (value) {
        return value.product_unit_id !== undefined && value.number !== undefined
      })
      this.formData.order_products = orderProducts
      this.formData.table_id = this.tableStatus.id
      return {
        id: this.tableStatus.order_id,
        data: this.formData
      }
    },
    async submit (e) {
      e.preventDefault()
      try {
        this.loading = true
        const response = await this.updateOrder(this.getUpdateData())
        this.loading = false
        this.$toastr.success(response.message)
        this.$emit('editSuccess')
        this.tableStatus.start_time = this.formData.start_time
      } catch (e) {
        if (e.status === 422) {
          this.responseErrors = e.data.errors
          this.$toastr.error(e.data.message)
        }
        this.loading = false
      }
    },
    addOrderProduct () {
      this.formData.order_products.push({
        product_unit_id: undefined,
        number: undefined
      })
    },
    removeOrderProduct (index) {
      if (this.formData.order_products.length === 1) {
        console.log(this.formData.order_products)
        this.formData.order_products.forEach(function (item) {
          item.number = undefined
          item.product_unit_id = undefined
        })
      } else {
        this.formData.order_products = _.filter(this.formData.order_products, function (value, key) { return index !== key })
      }
    },
    checkDuplicatedProduct () {
      const orderProducts = _.filter(this.formData.order_products, function (value) { return value.product_unit_id !== undefined })
      const products = orderProducts.map(item => item.product_unit_id)
      const notDuplicatedProducts = this.$helper.removeDuplicate(products)

      if (products.length !== notDuplicatedProducts.length) {
        this.isDuplicatedProduct = true
        this.$toastr.warning(this.$t('duplicated_product_unit_error'))
      } else {
        this.isDuplicatedProduct = false
      }
    },
    checkNotMatchProductNumber () {
      const orderProducts = _.filter(this.formData.order_products, function (value) {
        return (value.product_unit_id && !value.number) || (!value.product_unit_id && value.number)
      })
      this.inputInvalidProduct = (orderProducts.length !== 0)
    },
    async handleShowOrder () {
      await this.showOrder(this.tableStatus.order_id)
      this.formData.note = this.item.note
      this.formData.order_products = this.item.products.length ? this.item.products : this.formData.order_products
      this.formData.start_time = this.item.start_time
    }
  },
  created () {
    this.getSelectProductUnits()
    this.handleShowOrder()
  }
}
</script>

<style lang="less">
  //.ant-modal {
  //  width: 800px !important;
  //}
</style>
