<template>
  <a-modal
    :footer="null"
    :width="800"
    :visible="visible"
    @cancel="$emit('cancle')"
  >
    <template slot="title">
      <div :style="{color: $store.state.app.color }">
        <a-icon type="dollar" />
        <span> {{ $t('order.payment_invoice_information') }}</span>
      </div>
    </template>
    <div>
      <div class="invoice-container">
        <div style="margin-bottom: 20px">
          <a-row :gutter="16" style="margin-bottom: 10px">
            <a-col :span="7" class="text-right">
              <span>{{ $t('table.name') }}</span>
            </a-col>
            <a-col :span="17" class="text-left">
              <span>{{ table.name }}</span>
            </a-col>
          </a-row>
          <a-row :gutter="16" style="margin-bottom: 10px">
            <a-col :span="7" class="text-right">
              <span>{{ $t('start_time') }}</span>
            </a-col>
            <a-col :span="17" class="text-left">
              <span>{{ calculatedOrder.start_time }}</span>
            </a-col>
          </a-row>
          <a-row :gutter="16" style="margin-bottom: 10px">
            <a-col :span="7" class="text-right">
              <span>{{ $t('end_time') }}</span>
            </a-col>
            <a-col :span="17" class="text-left">
              <span>{{ calculatedOrder.end_time }}</span>
            </a-col>
          </a-row>
          <a-row :gutter="16" style="margin-bottom: 10px">
            <a-col :span="7" class="text-right">
              <span>{{ $t('end_time') }}</span>
            </a-col>
            <a-col :span="17" class="text-left">
              <span>{{ usedTime }}</span>
            </a-col>
          </a-row>
        </div>
        <div>
          <table class="w-100">
            <tr class="invoice-header">
              <th style="width: 20%">{{ $t('product.product').toUpperCase() }}</th>
              <th style="width: 20%">{{ $t('unit').toUpperCase() }}</th>
              <th style="width: 20%">{{ $t('number').toUpperCase() }}</th>
              <th style="width: 20%">{{ $t('price').toUpperCase() }}</th>
              <th style="width: 20%">{{ $t('amount').toUpperCase() }}</th>
            </tr>
            <tbody class="invoice-body">
              <tr v-for="(product, index) in calculatedOrder.calculated_product" :key="index">
                <td>{{ product.name }}</td>
                <td>{{ product.unit_object.name }}</td>
                <td>{{ product.number }}</td>
                <td>{{ product.price | numberFormat }} Vnđ</td>
                <td>{{ product.amount | numberFormat }} Vnđ</td>
              </tr>
              <tr>
                <td>{{ $t('total').toUpperCase() }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ calculatedOrder.total | numberFormat }} Vnđ</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </a-modal>
</template>

<script>
export default {
  name: 'EditOrder',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    table: {
      type: Object
    },
    calculatedOrder: {
      type: Object
    }
  },
  computed: {
    usedTime: function () {
      const minutes = this.calculatedOrder.used_time
      const hours = Math.floor(minutes / 60)
      const seconds = minutes % 60
      let text = ''

      if (hours > 0) {
        text += hours + ' ' + this.$t(hours > 1 ? 'hours' : 'hour')
      }

      if (seconds > 0) {
        text += ' ' + seconds + ' ' + this.$t(seconds > 1 ? 'seconds' : 'second')
      }
      return text
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  created () {
  }
}
</script>

<style lang="less" scoped>
  .invoice-header {
    border-bottom: 1px solid rgb(187, 187, 187);
    border-bottom-style: dashed;
    th {
      padding: 10px 0px;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 2px;
      color: gray;
      text-align: left;
    }
  }
  .invoice-body tr {
    padding: 10px 0px;
    border-bottom: 0.5px solid rgb(226, 226, 226);
    td {
      padding: 10px 0px;
      text-align: left;
    }
  }
  .invoice-body tr:nth-last-child(2) {
    border-bottom: 1px solid rgb(187, 187, 187);
    border-bottom-style: dashed;
  }
</style>
