<template>
  <a-modal
    :footer="null"
    :width="1000"
    :visible="visible"
    @cancel="$emit('cancle')"
  >
    <invoice
      :calculated-order="calculatedOrder"
      :table="tableCloneStatus"
      @cancle="showInvoiceModal = false"
      v-if="showInvoiceModal"
      :visible="showInvoiceModal"
    ></invoice>
    <template slot="title">
      <div :style="{color: $store.state.app.color }">
        <a-icon type="plus-circle" />
        <span> {{ $t('payment') }}</span>
      </div>
    </template>
    <div>
      <a-form-item
        :label="$t('table.name')"
        :labelCol="{lg: {span: 7}, sm: {span: 7}}"
        :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
      >
        {{ tableStatus.name }}
      </a-form-item>
      <a-form
        @submit="submit"
      >
        <ValidationObserver v-slot="{ invalid }">
          <ValidationProvider name="start_time" rules="required|lessOrEqualNow" v-slot="{ errors, failed, dirty }">
            <a-form-item
              :has-feedback="dirty"
              :label="$t('start_time')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
              :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
              :help="errors[0] || responseErrors.name"
            >
              <a-date-picker
                v-model="formData.start_time"
                :show-time="true"
                format="YYYY-MM-DD HH:mm"
                :placeholder="$t('start_time')"
              />
            </a-form-item>
          </ValidationProvider>
          <ValidationProvider name="end_time" rules="required" v-slot="{ errors, failed, dirty }">
            <a-form-item
              :has-feedback="dirty"
              :label="$t('end_time')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
              :validate-status="(failed || responseErrors.end_time) ? 'error' : 'success'"
              :help="errors[0] || responseErrors.end_time"
            >
              <a-date-picker
                v-model="formData.end_time"
                :show-time="true"
                format="YYYY-MM-DD HH:mm"
                :placeholder="$t('end_time')"
              />
            </a-form-item>
          </ValidationProvider>
          <a-form-item
            has-feedback
            :label="$t('product.product')"
            :labelCol="{lg: {span: 7}, sm: {span: 7}}"
            :wrapperCol="{lg: {span: 17}, sm: {span: 17} }"
          >
            <product-order
              v-for="(orderProduct, index) in formData.order_products"
              :disableRemove="formData.order_products.length === 1"
              :value="orderProduct"
              :key="index"
              :index="index"
              :productUnits="productUnits"
              @addItem="addOrderProduct()"
              @removeItem="removeOrderProduct"
              @checkDuplicatedProduct="checkDuplicatedProduct"
              @checkNotMatchProductNumber="checkNotMatchProductNumber"
            ></product-order>
          </a-form-item>
          <a-form-item
            :label="$t('note')"
            :labelCol="{lg: {span: 7}, sm: {span: 7}}"
            :wrapperCol="{lg: {span: 16}, sm: {span: 17} }"
          >
            <a-textarea v-model="formData.note" :rows="5" />
          </a-form-item>
          <a-form-item
            :wrapperCol="{ span: 24 }"
            style="margin-top: 30px; text-align: center"
          >
            <a-button
              type="danger"
              htmlType="submit"
              :loading="loading"
              :disabled="invalid || isDuplicatedProduct || inputInvalidProduct"
            >
              <a-icon v-if="loading" type="loading" />
              <a-icon v-else type="dollar" />
              {{ $t('payment') }}
            </a-button>
          </a-form-item>
        </ValidationObserver>
      </a-form>
    </div>
  </a-modal>
</template>

<script>
import ProductOrder from './ProductOrder'
import { mapActions, mapState } from 'vuex'
import _ from 'lodash'
import Invoice from './Invoice'

export default {
  name: 'EditOrder',
  components: {
    ProductOrder,
    Invoice
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    tableStatus: {
      type: Object
    }
  },
  data () {
    return {
      showInvoiceModal: false,
      loading: false,
      isDuplicatedProduct: false,
      inputInvalidProduct: false,
      formData: {
        note: '',
        start_time: this.$moment().second(0),
        end_time: this.$moment().second(0),
        table_id: null,
        order_products: [
          {
            product_unit_id: undefined,
            number: undefined
          }
        ]
      },
      responseErrors: {},
      tableCloneStatus: {},
      dataOrderCheckout: {}
    }
  },
  computed: {
    ...mapState('commonApi', ['productUnits']),
    ...mapState('order', ['item', 'calculatedOrder'])
  },
  methods: {
    ...mapActions({
      getSelectProductUnits: 'commonApi/getSelectProductUnits',
      calculateOrderCheckout: 'order/calculateCheckout',
      showOrder: 'order/show'
    }),
    getData () {
      const orderProducts = _.filter(this.formData.order_products, function (value) {
        return value.product_unit_id !== undefined && value.number !== undefined
      })
      return {
        start_time: this.$moment(this.formData.start_time).format('YYYY-MM-DD HH:mm'),
        end_time: this.$moment(this.formData.end_time).format('YYYY-MM-DD HH:mm'),
        order_products: orderProducts,
        note: this.formData.note
      }
    },
    async submit (e) {
      e.preventDefault()
      try {
        this.loading = true
        const data = this.getData()
        await this.calculateOrderCheckout(data)
        this.loading = false
        this.showInvoiceModal = true
      } catch (e) {
        if (e.status === 422) {
          this.responseErrors = e.data.errors
          this.$toastr.error(e.data.message)
        }
        this.loading = false
      }
    },
    addOrderProduct () {
      this.formData.order_products.push({
        product_unit_id: undefined,
        number: undefined
      })
    },
    removeOrderProduct (index) {
      if (this.formData.order_products.length === 1) {
        console.log(this.formData.order_products)
        this.formData.order_products.forEach(function (item) {
          item.number = undefined
          item.product_unit_id = undefined
        })
      } else {
        this.formData.order_products = _.filter(this.formData.order_products, function (value, key) { return index !== key })
      }
    },
    checkDuplicatedProduct () {
      const orderProducts = _.filter(this.formData.order_products, function (value) { return value.product_unit_id !== undefined })
      const products = orderProducts.map(item => item.product_unit_id)
      const notDuplicatedProducts = this.$helper.removeDuplicate(products)

      if (products.length !== notDuplicatedProducts.length) {
        this.isDuplicatedProduct = true
        this.$toastr.warning(this.$t('duplicated_product_unit_error'))
      } else {
        this.isDuplicatedProduct = false
      }
    },
    checkNotMatchProductNumber () {
      const orderProducts = _.filter(this.formData.order_products, function (value) {
        return (value.product_unit_id && !value.number) || (!value.product_unit_id && value.number)
      })
      this.inputInvalidProduct = (orderProducts.length !== 0)
    },
    async handleShowOrder () {
      await this.showOrder(this.tableStatus.order_id)
      this.formData.note = this.item.note
      this.formData.order_products = this.item.products.length ? this.item.products : this.formData.order_products
      this.formData.start_time = this.$moment(this.item.start_time)
    }
  },
  created () {
    this.tableCloneStatus = _.cloneDeep(this.tableStatus)
    this.getSelectProductUnits()
    this.handleShowOrder()
  }
}
</script>

<style lang="less">
  //.ant-modal {
  //  width: 800px !important;
  //}
</style>
