<template>
  <a-row :gutter="20">
    <a-col :span="9">
      <ValidationProvider name="unit" rules="required|integer" v-slot="{ errors, failed, dirty }">
        <a-form-item
          style="margin-bottom: 5px;"
        >
          <a-select
            @change="handleChange"
            :placeholder="$t('unit')"
            v-model="value.unit"
          >
            <a-select-option v-for="(unit, index) in units" :value="unit.id" :key="index">
              {{ unit.name }}
            </a-select-option>
          </a-select>
          </a-form-item>
      </ValidationProvider>
    </a-col>
    <a-col :span="9">
      <ValidationProvider name="price" rules="required|integer|min_value:1000|max_value:1000000" v-slot="{ errors, failed, dirty }">
        <a-form-item
          style="margin-bottom: 5px;"
          :has-feedback="dirty"
          :validate-status="failed ? 'error' : 'success'"
          :help="errors[0]"
        >
          <a-input
            :placeholder="$t('price')"
            v-model="value.price"
          />
        </a-form-item>
      </ValidationProvider>
    </a-col>
    <a-col :span="3">
      <a-button
        type="primary"
        :disabled="disableRemove"
        @click="removeItem(index)"
      >
        <a-icon type="close" />
      </a-button>
    </a-col>
    <a-col v-if="!index" :span="3" style="text-align: right">
      <a-button
        type="primary"
        @click="addItem"
      >
        <a-icon type="plus" />
      </a-button>
    </a-col>
  </a-row>
</template>

<script>

export default {
  name: 'ProductUnit',
  props: {
    value: {
      type: Object,
      default: function () {
        return {
          unit: '',
          price: ''
        }
      }
    },
    index: Number,
    disableRemove: Boolean,
    units: Array
  },
  methods: {
    addItem () {
      this.$emit('addProductUnit')
    },
    removeItem (index) {
      this.$emit('removeProductUnit', index)
    },
    handleChange () {
      this.$emit('checkDuplicatedUnit')
    }
  }
}
</script>

<style scoped>
</style>
