<template>
  <a-row :gutter="20">
    <a-col :span="10">
      <ValidationProvider name="product" rules="integer" v-slot="{ errors, failed, dirty }">
        <a-form-item
          style="margin-bottom: 5px;"
          :has-feedback="dirty"
          :validate-status="failed ? 'error' : 'success'"
          :help="errors[0]"
        >
          <a-select
            show-search
            style="width: 100%"
            @change="handleChange"
            :placeholder="$t('product.product')"
            v-model="value.product_unit_id"
            option-filter-prop="children"
          >
            <a-select-option v-for="(productUnit, index) in productUnits" :value="productUnit.id" :key="index">
              {{ productUnit.name }} -->({{ productUnit.unit_object.name }})
            </a-select-option>
          </a-select>
        </a-form-item>
      </ValidationProvider>
    </a-col>
    <a-col :span="6">
      <ValidationProvider name="number" rules="integer|min_value:1|max_value:1000000" v-slot="{ errors, failed, dirty }">
        <a-form-item
          style="margin-bottom: 5px;"
          :validate-status="failed ? 'error' : 'success'"
          :help="errors[0]"
        >
          <a-input-number
            style="width: 100%"
            :placeholder="$t('number')"
            :min="1"
            v-model="value.number"
            :max="1000"
            :default-value="1"
            @change="$emit('checkNotMatchProductNumber')"
          />
        </a-form-item>
      </ValidationProvider>
    </a-col>
    <a-col :span="3">
      <a-button
        type="primary"
        @click="removeItem(index)"
      >
        <a-icon type="close" />
      </a-button>
    </a-col>
    <a-col v-if="!index" :span="3" style="text-align: right">
      <a-button
        type="primary"
        @click="addItem"
      >
        <a-icon type="plus" />
      </a-button>
    </a-col>
  </a-row>
</template>

<script>

export default {
  name: 'ProductOrder',
  props: {
    value: {
      type: Object,
      default: function () {
        return {
          product_unit_id: '',
          number: 1
        }
      }
    },
    index: Number,
    productUnits: Array
  },
  methods: {
    addItem () {
      this.$emit('addItem')
    },
    removeItem (index) {
      this.$emit('removeItem', index)
    },
    handleChange () {
      this.$emit('checkNotMatchProductNumber')
      this.$emit('checkDuplicatedProduct')
    }
  }
}
</script>

<style scoped>
</style>
