<template>
  <a-col
    :key="index"
    class="gutter-row"
    :xxl="6"
    :lg="6"
    :md="12"
  >
    <create-order
      @cancle="showModalOrder = false"
      @createSuccess="createOrderSuccess"
      v-if="showModalOrder"
      :tableStatus="tableStatus"
      :visible="showModalOrder"
    ></create-order>
    <edit-order
      @cancle="showModalEditOrder = false"
      @editSuccess="editOrderSuccess"
      v-if="showModalEditOrder"
      :tableStatus="tableStatus"
      :visible="showModalEditOrder"
    ></edit-order>
    <payment
      @cancle="showPaymentModal = false"
      @paymentSuccess="paymentSuccess"
      v-if="showPaymentModal"
      :tableStatus="tableStatus"
      :visible="showPaymentModal"
    ></payment>
    <div class="gutter-box">
      <a-card :headStyle="{ textAlign: 'center'}" :bodyStyle="{ padding: '15px'}" :title="tableStatus.name" :bordered="true">
        <div style="margin-bottom: 10px">
          {{ $t('status') }}:
          <a-tag v-if="tableStatus.is_using" color="rgb(177 173 49)" style="font-size: 14px">
            {{ $t('not_using') }}
          </a-tag>
          <a-tag v-else color="#87d068" style="font-size: 14px;">
            {{ $t('using') }}
          </a-tag>
        </div>
        <div style="margin-bottom: 10px">
          {{ $t('start_time') }}:
          <span v-if="tableStatus.start_time" style="font-weight: bold">{{ tableStatus.start_time }}</span>
          <span v-else>No</span>
        </div>
        <div style="margin-bottom: 10px">
          {{ $t('used_time') }}:
          <time-up v-if="tableStatus.start_time" :time="tableStatus.start_time"></time-up>
          <span v-else >No</span>
        </div>
        <div>
          <a-button
            v-if="tableStatus.is_using"
            style="margin-right: 5px"
            type="primary"
            size="small"
            @click="showModalEditOrder = true"
          >
            <a-icon type="edit" />
            {{ $t('update') }}
          </a-button>
          <a-button
            v-if="!tableStatus.is_using"
            type="primary"
            size="small"
            @click="showModalOrder = true"
          >
            <a-icon type="plus-circle" />{{ $t('order.order') }}
          </a-button>
          <a-button
            v-else
            @click="showPaymentModal = true"
            type="danger"
            size="small"
          >
            <a-icon type="pay-circle" />{{ $t('payment') }}
          </a-button>
        </div>
      </a-card>
    </div>
  </a-col>
</template>

<script>
import CreateOrder from '@/components/CreateOrder'
import EditOrder from '@/components/EditOrder'
import TimeUp from '@/components/TimeUp'
import Payment from '@/components/Payment'

export default {
  name: 'TableStatus',
  components: {
    CreateOrder,
    TimeUp,
    Payment,
    EditOrder
  },
  props: {
    tableStatus: {
      type: Object
    },
    index: {
      type: Number
    }
  },
  data () {
    return {
      showModalOrder: false,
      showPaymentModal: false,
      showModalEditOrder: false
    }
  },
  methods: {
    createOrderSuccess () {
      this.showModalOrder = false
    },
    editOrderSuccess () {
      this.showModalEditOrder = false
    },
    paymentSuccess () {
      this.showPaymentModal = false
    }
  }
}
</script>

<style lang="less" scoped>
  .gutter-box {
    margin-bottom: 35px;
  }
</style>
