<template>
  <span style="font-weight: bold">
    {{ text }}
  </span>
</template>

<script>
export default {
  name: 'TimeUp',
  props: {
    time: {
      type: String
    }
  },
  data () {
    return {
      text: ''
    }
  },
  methods: {
    getTime () {
      setTimeout(() => {
        this.text = ''
        const now = this.$moment()
        const time = this.$moment(this.time)
        const secondTotal = now.diff(time, 'second')

        const hours = Math.floor(secondTotal / 3600)
        this.text += ' ' + hours + ' ' + (hours > 1 ? this.$t('hours') : this.$t('hour'))

        const minutes = Math.floor((secondTotal % 3600) / 60)
        this.text += ' ' + minutes + ' ' + (minutes > 1 ? this.$t('minutes') : this.$t('minute'))

        const seconds = (secondTotal % 3600) % 60
        this.text += ' ' + seconds + ' ' + (seconds > 1 ? this.$t('seconds') : this.$t('second'))

        this.getTime()
      }, 1000)
    }
  },
  created () {
    this.getTime()
  }
}
</script>
