<template>
  <page-header-wrapper :title="false">
    <div>
      <a-card :bordered="true">
        <template slot="title">
          <div :style="{ color: $store.state.app.color }">
            <a-icon type="plus-circle" />
            <span> {{ $t('order.create_order') }}</span>
          </div>
        </template>
        <template slot="extra">
          <router-link
            :to="{ name: 'list-order'}"
          >
            <a-button
              type="primary"
            >
              <a-icon type="unordered-list" />{{ $t('show_list') }}
            </a-button>
          </router-link>
        </template>
        <a-form
          style="margin-top: 30px"
          @submit="submit"
        >
          <ValidationObserver v-slot="{ invalid }">
            <ValidationProvider name="table" rules="required" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('table.select')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.name"
              >
                <a-select
                  v-model="formData.table_id"
                  show-search
                  :placeholder="$t('table.select')"
                  option-filter-prop="children"
                >
                  <a-select-option v-for="(table, index) in availableTables" :value="table.id" :key="index">
                    {{ table.name }}
                  </a-select-option>
                </a-select>
              </a-form-item>
            </ValidationProvider>

            <ValidationProvider name="start_time" rules="required|lessOrEqualNow" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :label="$t('start_time')"
                :labelCol="{lg: {span: 7}, sm: {span: 7}}"
                :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
                :validate-status="(failed || responseErrors.name) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.name"
              >
                <a-date-picker
                  v-model="formData.start_time"
                  :show-time="true"
                  format="YYYY-MM-DD HH:mm"
                  :placeholder="$t('start_time')"
                />
              </a-form-item>
            </ValidationProvider>

            <a-form-item
              has-feedback
              :label="$t('product.product')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
            >
              <product-order
                v-for="(orderProduct, index) in formData.order_products"
                :disableRemove="formData.order_products.length === 1"
                :value="orderProduct"
                :key="index"
                :index="index"
                :productUnits="productUnits"
                @addItem="addOrderProduct()"
                @removeItem="removeOrderProduct"
                @checkDuplicatedProduct="checkDuplicatedProduct"
                @checkNotMatchProductNumber="checkNotMatchProductNumber"
              ></product-order>
            </a-form-item>
            <a-form-item
              :label="$t('note')"
              :labelCol="{lg: {span: 7}, sm: {span: 7}}"
              :wrapperCol="{lg: {span: 10}, sm: {span: 17} }"
            >
              <a-textarea v-model="formData.note" :rows="5" />
            </a-form-item>
            <a-form-item
              :wrapperCol="{ span: 24 }"
              style="margin-top: 30px; text-align: center"
            >
              <a-button
                type="primary"
                htmlType="submit"
                :loading="loading"
                :disabled="invalid || isDuplicatedProduct || inputInvalidProduct"
              >
                <a-icon v-if="loading" type="loading" />
                <a-icon v-else type="check" />
                {{ $t('create') }}
              </a-button>
            </a-form-item>
          </ValidationObserver>
        </a-form>
      </a-card>
    </div>
  </page-header-wrapper>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import _ from 'lodash'
import ProductOrder from './../../components/ProductOrder'

export default {
  name: 'List',
  components: {
    ProductOrder
  },
  data () {
    return {
      loading: false,
      responseErrors: [],
      isDuplicatedProduct: false,
      inputInvalidProduct: true,
      formData: {
        note: '',
        start_time: this.$moment(),
        table_id: '',
        order_products: [
          {
            product_unit_id: undefined,
            number: undefined
          }
        ]
      }
    }
  },
  computed: {
    ...mapState('commonApi', ['units', 'availableTables', 'productUnits'])
  },
  methods: {
    ...mapActions({
      createProduct: 'product/create',
      getUnits: 'commonApi/getUnits',
      getAvailableTables: 'commonApi/getAvailableTables',
      getSelectProductUnits: 'commonApi/getSelectProductUnits',
      createOrder: 'order/create'
    }),
    async submit (e) {
      e.preventDefault()
      try {
        this.loading = true
        const response = await this.createOrder(this.getInsertData())
        this.loading = false
        this.$toastr.success(response.message)
        this.$router.push({ name: 'list-order' })
      } catch (e) {
        if (e.status === 422) {
          this.responseErrors = e.data.errors
          this.$toastr.error(e.data.message)
        }
        this.loading = false
      }
    },
    getInsertData () {
      this.formData.start_time = this.$moment(this.formData.start_time).format('YYYY-MM-DD HH:mm')
      const orderProducts = _.filter(this.formData.order_products, function (value) {
        return value.product_unit_id !== undefined && value.number !== undefined
      })
      this.formData.order_products = orderProducts
      return this.formData
    },
    addOrderProduct () {
      this.formData.order_products.push({
        product_unit_id: undefined,
        number: undefined
      })
    },
    removeOrderProduct (index) {
      if (this.formData.order_products.length === 1) {
        this.formData.order_products.forEach(function (item) {
          item.number = undefined
          item.product_unit_id = undefined
        })
      } else {
        this.formData.order_products = _.filter(this.formData.order_products, function (value, key) { return index !== key })
      }
    },
    checkDuplicatedProduct () {
      const orderProducts = _.filter(this.formData.order_products, function (value) { return value.product_unit_id !== undefined })
      const products = orderProducts.map(item => item.product_unit_id)
      const notDuplicatedProducts = this.$helper.removeDuplicate(products)

      if (products.length !== notDuplicatedProducts.length) {
        this.isDuplicatedProduct = true
        this.$toastr.warning(this.$t('duplicated_product_unit_error'))
      } else {
        this.isDuplicatedProduct = false
      }
    },
    checkNotMatchProductNumber () {
      const orderProducts = _.filter(this.formData.order_products, function (value) {
        return (value.product_unit_id && !value.number) || (!value.product_unit_id && value.number)
      })
      this.inputInvalidProduct = (orderProducts.length !== 0)
    }
  },
  created () {
    this.getUnits()
    this.getAvailableTables()
    this.getSelectProductUnits()
  }
}
</script>

<style lang="less" scoped>
</style>
