<template>
  <div class="main">
    <a-form
      id="formLogin"
      class="user-layout-login"
      @submit="handleSubmit"
    >
      <a-tabs
        activeKey="login"
        :tabBarStyle="{ textAlign: 'center', borderBottom: 'unset' }"
      >
        <a-tab-pane key="login" :tab="$t('user.login.tab-login-credentials')">
          <ValidationObserver v-slot="{ invalid }">
            <ValidationProvider name="email" rules="required|email" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :validate-status="(failed || responseErrors.email) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.email"
              >
                <a-input
                  size="large"
                  placeholder="Email"
                  v-model="formData.email"
                >
                  <a-icon slot="prefix" type="user" :style="{ color: 'rgba(0,0,0,.25)' }"/>
                </a-input>
              </a-form-item>
            </ValidationProvider>
            <ValidationProvider name="password" rules="required|min:6|max:12" v-slot="{ errors, failed, dirty }">
              <a-form-item
                :has-feedback="dirty"
                :validate-status="(failed || responseErrors.password) ? 'error' : 'success'"
                :help="errors[0] || responseErrors.password"
              >
                <a-input-password
                  size="large"
                  :placeholder="$t('user.login.password')"
                  v-model="formData.password"
                >
                  <a-icon slot="prefix" type="lock" :style="{ color: 'rgba(0,0,0,.25)' }"/>
                </a-input-password>
              </a-form-item>
            </ValidationProvider>
            <a-form-item style="margin-top: 35px">
              <a-button
                size="large"
                type="primary"
                htmlType="submit"
                class="login-button"
                :loading="loading"
                :disabled="invalid"
              >{{ $t('user.login.login') }}</a-button>
            </a-form-item>
          </ValidationObserver>
        </a-tab-pane>
      </a-tabs>
    </a-form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data () {
    return {
      loading: false,
      formData: {
        email: '',
        password: ''
      },
      responseErrors: {}
    }
  },
  created () {
  },
  methods: {
    ...mapActions({
      login: 'auth/login'
    }),
    async handleSubmit (e) {
      e.preventDefault()
      try {
        const data = await this.login(this.formData)
        this.$toastr.success(data.message)
        this.$store.dispatch('generateRoutes', data.data.user_info.role).then(() => {
          this.$router.addRoutes(this.$store.getters.addRouters)
        })
        this.$router.push({ path: '/dashboard/workplace' })
      } catch (error) {
        if (error.status === 422) {
          this.responseErrors = error.data.errors
          this.$toastr.error(error.data.message)
        } if (error.status === 403) {
          this.$toastr.error(error.data.message)
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.user-layout-login {
  label {
    font-size: 14px;
  }

  .ant-form-explain {
    margin-top: 5px !important;
  }

  .getCaptcha {
    display: block;
    width: 100%;
    height: 40px;
  }

  .forge-password {
    font-size: 14px;
  }

  button.login-button {
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
    width: 100%;
  }

  .user-login-other {
    text-align: left;
    margin-top: 24px;
    line-height: 22px;

    .item-icon {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.2);
      margin-left: 16px;
      vertical-align: middle;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }

    .register {
      float: right;
    }
  }
}
</style>
